@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li>
        <a href="/People">Call of People API after authentication</a>
    </li>
    <li>
        <a href="/People/JavaScriptCall">Call of People API thorugh JavaScript</a>
    </li>
</ul>